.mail_tools {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: white;
}
.mail {
    background-color: whitesmoke;
    flex: 1;
    overflow: scroll;
}

.mail_body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px;
    background-color: white;
    height: 100vh;
    box-shadow: 0 5px 7px 0px  rgba(0,0,0 , 0.24);

    .mail_header {
        h2 {
            font-weight: 400;
        }
        p ,.important_icon {
            margin-left: 20px;
        }
        padding: 20px;
        display: flex; 
        align-items: center;
        .title {
            flex: 1;
        }
        justify-content: space-around;

        .important_icon {
            color:#e8ab02
        }
        .time {
            font-weight: 400;
            color: rgba(0, 0, 0, 0.54);
        }
    }
    .message p {
        padding: 10px;
        margin-right: 20px;
        overflow-wrap: break-word;
    }
}